.logo-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-logo-large, .artist-logo-small, 
.artist-logo-bottom-large, .artist-logo-bottom-small,
.artist-logo-mini, .artist-logo-bottom-mini {
    white-space: nowrap;
    font-family: 'BandNameFont', sans-serif; 
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transform: translateY(-15px);
}

.artist-logo-large, .artist-logo-small, 
.artist-logo-bottom-large, .artist-logo-bottom-small {
    text-shadow: 2px 2px 4px rgb(255, 255, 255),
    1px 1px 2px rgb(225, 141, 245),   /* Top-right shadow */
    -1px -1px 2px rgb(108, 246, 163), /* Bottom-left shadow */
    1px -1px 2px #9bffff,  /* Top-left shadow */
    -1px 1px 2px rgb(0, 255, 60),  /* Bottom-right shadow */
    1px 0px 2px rgb(84, 168, 168),  /* Bottom-right shadow */
    -1px 0px 1px rgb(75, 255, 183);  /* Bottom-right shadow */
}

.artist-logo-large {
    font-size: 3em;

}

.artist-logo-bottom-large {
    font-size: 4em;
    margin-left: -0.5em;
}

.artist-logo-small {
    font-size: 2em;
}

.artist-logo-bottom-small {
    font-size: 2.66;
    margin-left: -0.4em;
}

.artist-logo-mini {
    font-size: 1em;
}

.artist-logo-bottom-mini {
    font-size: 1.3em;
    margin-top: -0.25em;
    margin-left: 0.025em;
}

@media (max-width: 768px) {

    .artist-logo-large {
        font-size: 2em;
        margin-top: -0.2em;
    }

    .artist-logo-bottom-large {
        font-size: 2.75em;
        margin-top: 0em;
    }

    .artist-logo-mini {
        margin-top: 2em;
        font-size: 0.6em;
    }

    .artist-logo-bottom-mini {
        margin-top: 0.4em;
        font-size: 0.8em;
        margin-left: 0.025em;
    }
}