/* General container styling */
.band-member-container {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10px; /* space between sub-divs */
  }
  
/* Sub-div styling */
.band-member {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 18px;
    z-index: 1;
}

.band-member-selector-container {
  transform: scale(1.5);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .band-member-selector-container {
      transform: scale(0.82);
    }
}
  
.member-mini-image:hover {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8))
            drop-shadow(0 0 20px rgba(0, 255, 0, 0.6));
    cursor: pointer; 
    z-index: 1000;
}

