.song-button {
    font-family: 'Iceberg', sans-serif;
}

.song-button:hover  {
    cursor: pointer; 
}

.youtube-player-option:hover {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8));
    cursor: pointer; 
}

.spotify-player-option:hover {
    filter: drop-shadow(0 0 10px rgba(0, 255, 251, 0.8));
    cursor: pointer; 
}

.iframe-spotify {
    border: none;
    display:flex; 
    flex-direction:column;
    align-items: center;
    justify-content: end; 

}